.cartWidget { position: relative; display: flex; align-items: center; }
.cartWidget .notification { font-size: 14px; font-weight: 600; background: yellow; border-radius: 50%; width: 15px; height: 15px; display: flex; align-items: center; justify-content: center; position: absolute; top: -8px; left: 10px; }
.right .cartWidget a img { width: 20px; }