.filtersBar { margin: 20px 0; }
.filtersBar .wrapper { display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; }
.filtersBar .wrapper ul { display: flex; align-items: center; } 
.filtersBar .wrapper ul li { border: 1px solid #A555EC; border-radius: 20px; padding: 10px 20px; margin-right: 10px; color: #A555EC; font-weight: 500; text-transform: uppercase; transition: ease 0.3s; }
.filtersBar .wrapper ul li:hover { background-color: #F3CCFF; border-color: #F3CCFF; cursor: pointer; }
.filtersBar .wrapper .sortBy { display: flex; align-items: center; }
.filtersBar .wrapper .sortBy span { font-weight: 500; font-size: 14px; text-transform: uppercase; margin-right: 10px; }
.filtersBar .wrapper .sortBy .pill { border: 1px solid #A555EC; border-radius: 20px; margin-right: 10px; color: #A555EC; font-weight: 500; text-transform: uppercase; transition: ease 0.3s; cursor: pointer; }
.filtersBar .wrapper .sortBy .pill:last-of-type { margin-right: 0; } 
.filtersBar .wrapper .sortBy .pill:hover { background-color: #F3CCFF; border-color: #F3CCFF; cursor: pointer; }
.filtersBar .wrapper .sortBy select { border: none; background: transparent; font-size: 12px; text-transform: uppercase; font-weight: 600; color: #A555EC; padding: 10px 14px; width: 235px; cursor: pointer; }
.filtersBar .wrapper .sortBy select option { color: #A555EC; font-weight: 500; }
.filtersBar .wrapper .sortBy .pill.withSelect { position: relative; }
.filtersBar .wrapper .sortBy .pill.withSelect img { width: 14px; position: absolute; top: 12px; right: 10px; }
.filtersBar .wrapper .sortBy .pill.withSelect img:hover { filter: brightness(6); }