@import './reset.css';
@import '../../Components/Banner/Banner.css';
@import '../../Components/FiltersBar/FiltersBar.css';
@import '../../Components/ItemListContainer/ItemListContainer.css';
@import '../../Components/NavBar/NavBar.css';
@import '../../Components/NavBar/CartWidget/CartWidget.css';

/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

body { font-family: 'Source Sans 3', sans-serif; font-size: 16px; color: #262626; background-color: #F5F5F5; }

.logo { width: 160px; height: auto; padding: 6px; }

.wrapper { max-width: 1200px; margin: 0 auto; }

p { line-height: 1.2; }
